:root {
    --header-color: #d8d8d89d;
    --nav-footer: #0b5cab;
    --header-footer-text-color: #ffffff;
    --body-color: #ffffff;
    --body-text-color: #0b5cab;
    --hover-color: #7badea;
    --column-border-color: #0b5cab;
}

/* these are the dark mode colors*/
body.dark-mode {
    --header-color: #505050;
    --nav-footer: #00366b;
    --header-footer-text-color: #ffffff;
    --body-color: #000000;
    --body-text-color: #ffffff;
    --hover-color: #0073ff;
    --column-border-color: #00366b;
  }